:host {
  .cursor-pointer {
    cursor: pointer;
  }

  .done-task-list {
    .done-task {
      text-decoration: line-through;
    }
  }

  .list-item {
    border: 1px solid #ccc;
    padding: 1rem;

  }

  .cdk-drag-preview {
    background-color: red;
    margin: 2rem;
    border: 1px solid #ccc;
  }

  .cdk-drag-placeholder {
    background-color: brown;
  }

  .cdk-drop-list-dragging {
    background-color: aqua;
  }

  .modal-message {
    display: flex;
    justify-content: end;
    z-index: 100;

    .modal-message-box {
      //display: none;
      padding: 2.5rem;
      width: 4.16rem;
      background-color: cadetblue;
    }
  }
}
