<section id="inputSearchSection">
  <input id="txtSearch" name="txtSearch" type="search" [(ngModel)]="searchText" />
</section>
<section id="toDoTaskList" class="todo-task-list">
  <h1>ToDo List</h1>
  <input name="taskName" id="taskName" [(ngModel)]="taskName" (keyup.enter)="addToDoTask({TaskName: taskName})" />
  <input type="button" value="add" (click)="addToDoTask({TaskName: taskName})" />
  <div>
    <div *ngFor="let task of toDoTaskList | multipleSearchFilter:['TaskName']:searchText; let index = index">
      <span *ngIf="activeLine!=index" (click)="activeLine=index" title="click to edit">{{task.Order}} -
        {{task.TaskName}}</span>
      <input *ngIf="activeLine==index" type="text" [(ngModel)]="taskNameEdited"
        (keyup.enter)="renameTaskName({TaskName: taskNameEdited, Order: task.Order})" />
      <span *ngIf="activeLine!=index" title="mark as done" (click)="markAsDone(task)" class="cursor-pointer">
        *mark as done |</span>
      <span *ngIf="activeLine==index" title="ok"
        (click)="renameTaskName({TaskName: taskNameEdited, Order: task.Order})">
        *ok | </span>
      <span *ngIf="activeLine==index" title="cancel edit" (click)="activeLine=-1" class="cursor-pointer">
        *cancel</span>
    </div>
  </div>
</section>

<hr />
<section id="doneTaskList" class="done-task-list">
  <h2>Done List</h2>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of doneTaskList | multipleSearchFilter:['TaskName']:searchText; let index = index" cdkDrag>
      <span class="done-task">{{task.Order}} - {{task.TaskName}}</span>
      <span class="cursor-pointer" title="revert" (click)="revertDoneTask(task)" class="cursor-pointer">
        *revert</span>
      <span style="cursor: move;"> | MOVE</span>
    </div>
  </div>
</section>

<!-- Modals -->
<section #modalMessage class="modal-message">
  <div class="modal-message-box">message</div>
</section>
