<section id="tasksContainer" class="tasks-container">
    <section id="inputSearchSection">
        <input id="txtSearch" name="txtSearch" type="search" [(ngModel)]="searchText" />
    </section>
    <section id="toDoTaskList" class="todo-task-list">
        <header class="my-2">
            <h1>ToDo List</h1>
        </header>
        <input name="taskName" id="taskName" [(ngModel)]="taskName" (keyup.enter)="addTask({TaskName: taskName, Done: false, Today: false})" />
        <input type="button" value="add" (click)="addTask({TaskName: taskName, Done: false, Today: false})" />
        <div>{{message}}</div>
        <div *ngIf="taskList.length > 0;  else emptyList" cdkDropList (cdkDropListDropped)="drop(taskList, $event)" class="tasks-list">
            <div *ngFor="let task of taskList | multipleSearchFilter:['TaskName']:searchText ; let index = index; trackBy: trackTask" class="task-box cursor-move" [class.done-task]="task.Done" cdkDrag>

                <div [class.done]="task.Done">
                    <span class="cursor-pointer" *ngIf="activeLine!=index" (click)="activeLine=index; openDetailsDialog(task);" title="click to edit">{{task.Id}} -
            {{task.TaskName}} +++ {{task.ICategory}}</span>
                    <input *ngIf="activeLine==index" type="text" [(ngModel)]="task.TaskName" (keyup.enter)="editTaskName(task)" />
                    <span *ngIf="activeLine==index" title="ok" (click)="editTaskName(task)">
            *ok | </span>
                    <span *ngIf="activeLine==index" title="cancel edit" (click)="activeLine=-1" class="cursor-pointer">
            *cancel</span>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Select a Category</mat-label>
                        <mat-select [(value)]="task.ICategory" (selectionChange)="update(task)">
                            <mat-option [value]="-1">None</mat-option>
                            <mat-option *ngFor="let ICategory of categoriesList" [value]="ICategory.Id">
                                {{ICategory.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <span *ngIf="activeLine!=index && !task.Done" title="mark as done" (click)="markAsDone(task)" class="cursor-pointer">
            *mark as done |</span>
                    <span *ngIf="task.Done" class="cursor-pointer" title="revert" (click)="revertDoneTask(task)" class="cursor-pointer">
            *revert</span>
                    <span class="cursor-pointer" (click)="openConfirmRemoveDialog(task)"> | REMOVE</span>

                </div>

            </div>
        </div>
    </section>
    <mat-divider></mat-divider>

    <!-- Templates -->
    <ng-template #emptyList>
        <div>There's no tasks to be shown</div>
    </ng-template>
    <!-- Modals -->
    <section #modalMessage class="modal-message">
        <div class="modal-message-box">message</div>
    </section>