
<blockquote>
	<p>A man of my <span class="tooltip tooltip-turnright"><span class="tooltip-item">spiritual</span><span class="tooltip-content"><b>[spir·it·u·al]</b> affecting the human spirit or soul as opposed to material or physical things</span></span> intensity does not eat <span class="tooltip tooltip-turnleft"><span class="tooltip-item">corpses</span><span class="tooltip-content"><strong>[corpse]</strong> dead body, body, carcass, skeleton, remains, mortal remains, rotten bacon</span></span>.</p>
	<footer><span class="tooltip tooltip-turnright"><span class="tooltip-item">George Bernard Shaw</span><span class="tooltip-content"><strong>George Bernard Shaw</strong> (26 July 1856 – 2 November 1950) was an Irish playwright and a co-founder of the London School of Economics.</span></span></footer>
</blockquote>	


<button (click)="setPreviewMode()">Preview</button>
<button (click)="gerarPDF()">Print</button>
<section style="display: flex; width:210mm; border: 1px solid royalblue; ">
  <div  class="left-panel" style="display: flex; flex-direction: column;flex-basis: 50%;">
    <div class="boxes" style="border: 1px solid red; background-color: azure;"  *ngFor="let item of list; let ind = index" [style.height.px]="item.Height" >{{item.Title}}</div>
  </div>
  <div class="right-panel" style="flex-basis: 50%;"></div>
</section>
